[Desktop Entry]
Type=Application
Name=Deskmap
Comment=Startet Anwendungen auf konfigurierten KDE-Workspaces
Exec=deskmap
Icon=preferences-desktop-display
Terminal=false
Categories=Utility;
